# Dépendances (ne jamais inclure node_modules sur Git)
node_modules/

mon-serveur-securise/.env
mon-serveur-securise/node_modules/

# Logs de debug et erreurs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers systèmes et IDE
.DS_Store          # Mac
Thumbs.db          # Windows
.vscode/           # Paramètres de VS Code
.idea/             # Paramètres de WebStorm/IntelliJ

# Dossiers de build (si tu en as)
dist/
build/